[submodule "submodules/opencv"]
	path = submodules/opencv
	url = https://github.com/mangoeffect/plugin-opencv.git
	branch = main
[submodule "submodules/gpu"]
	path = submodules/gpu
	url = https://github.com/mangoeffect/plugin-gpu.git
	branch = main
[submodule "docs/themes/PaperMod"]
	path = docs/themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "submodules/render"]
	path = submodules/render
	url = https://github.com/mangoeffect/plugin-render.git
	branch = main
